<launch> 
 <node name="laser_test" pkg="laser_test" type="laser_test"  output="screen"/>
 <node name="serial_node"        pkg="rosserial_python"      type="serial_node.py">
    <param name="port"              type="string"               value="/dev/ttyUSB0"/>
    <param name="baud"              type="int"                  value="57600"/>
    </node>
 </launch>